@font-face {
  font-family: 'DiamondDust';
  src: url('../font/DiamondDust.ttf');
}

.title {
  font-family: 'DiamondDust';
  color: brown;
}

.option {
  	cursor: hand;
}

.clickable {
	cursor: hand;
}

.choose_response {
	position: absolute;
	top: 68%;
	margin-top: 5%;
	left: 21%;
	font-size: 23px;
}

.response-1 {
	cursor: hand;
	position: absolute;
	top: 71%;
	margin-top: 5%;
	width: 100%;
	left: auto;
	right: auto;
	font-size: 20px;
}

.response-1:hover, .response-2:hover {
	color: blue;
}

.response-2 {
	cursor: hand;
	position: absolute;
	top: 78%;
	margin-top: 5%;
	width: 100%;
	left: auto;
	right: auto;
	font-size: 20px;
}

#alice {
	position: absolute;
	right: 18%;
	top: 15%;
}

#long-container {
	background-image: url("../images/4.png");
	background-position: left;
	background-size: 200% 100%;
	width: 70%;
	margin-left: 15%;
	height: 88%;
}

#long-container-17 {
	background-image: url("../images/17.png");
	background-position: left;
	background-size: 200% 100%;
	width: 70%;
	margin-left: 15%;
	height: 88%;
}

