body {
	background-color: black;
}

@font-face {
  font-family: 'DiamondDust';
  src: url('../font/DiamondDust.ttf');
}

.title {
  font-family: 'DiamondDust';
  color: brown;
}

.option {
  	cursor: hand;
}

.clickable {
	cursor: hand;
}

.response-1 {
	cursor: hand;
	position: relative;
	margin-top: -8%;
	width: 100%;
	left: auto;
	right: auto;
	font-size: 1.1em;
}

.response-2 {
	cursor: hand;
	position: relative;
	margin-top: 2%;
	width: 100%;
	left: auto;
	right: auto;
	font-size: 1.1em;
}

.response-cat-1 {
	cursor: hand;
	position: relative;
	margin-top: -8%;
	width: 100%;
	left: auto;
	right: auto;
	font-size: 1.1em;
}

.response-cat-2 {
	cursor: hand;
	position: relative;
	margin-top: 2%;
	width: 100%;
	left: auto;
	right: auto;
	font-size: 1.1em;
}

.response-hatter-1 {
	cursor: hand;
	position: absolute;
	top: 66%;
	margin-top: 5%;
	width: 100%;
	left: auto;
	right: auto;
	font-size: 18px;
}

.response-hatter-2 {
	cursor: hand;
	position: absolute;
	top: 78%;
	margin-top: 5%;
	width: 100%;
	left: auto;
	right: auto;
	font-size: 18px;
}

.response-rabbit-1 {
	cursor: hand;
	position: absolute;
	top: 69%;
	margin-top: 5%;
	width: 100%;
	left: auto;
	right: auto;
	font-size: 18px;
}

.response-rabbit-2 {
	cursor: hand;
	position: absolute;
	top: 77.5%;
	margin-top: 5%;
	width: 100%;
	left: auto;
	right: auto;
	font-size: 18px;
}

.response-friends-1 {
	cursor: hand;
	position: absolute;
	top: 58%;
	margin-top: 5%;
	right: 20%;
	font-size: 18px;
}

.response-friends-2 {
	cursor: hand;
	position: absolute;
	top: 73%;
	margin-top: 5%;
	right: 19%;
	font-size: 18px;
}

.response-1:hover, .response-2:hover, .response-hatter-1:hover, .response-hatter-2:hover,
.response-rabbit-1:hover, .response-rabbit-2:hover, .response-friends-1:hover, .response-friends-2:hover,
.response-cat-1:hover, .response-cat-2:hover {
	color: blue;
}

.door {
	cursor: hand;
}

#snow-wrapper {
	position: absolute;
	top: 7%;
	width: 70%;
	height: 80%;
	margin-left: 15%;
}

#queen {
	position: absolute;
	left: 43%;
	top: 14%;
	width: 10%;
}

#cat {
	position: relative;
	left: 30%;
	margin-top: -27%;
	width: 10%;
}

#hatter {
	position: relative;
	left: 43%;
	margin-top: -17%;
	width: 10%;
}

#rabbit {
	position: relative;
	left: 57%;
	margin-top: -17%;
	width: 10%;
}

#left {
	position: absolute;
	left: 15.5%;
    width:34%;
    height:84%;
    top: 10%;
    cursor: hand;
}

#right {
	position: absolute;
	right: 15.5%;
	height:84%;
	width:34%;
	top: 10%;
	cursor: hand;
}

#alice {
	position: absolute;
	right: 18%;
	top: 15%;
}

#container {
	margin-top: 4%;
}

#long-container {
	background-image: url("../images/pre-hub/4.png");
	background-position: left;
	background-size: 200% 100%;
	width: 70%;
	margin-left: 15%;
	height: 88%;
}

#long-container-17 {
	background-image: url("../images/pre-hub/17.png");
	background-position: left;
	background-size: 200% 100%;
	width: 70%;
	margin-left: 15%;
	height: 88%;
}

