@font-face {
  font-family: 'DiamondDust';
  src: url('../font/DiamondDust.ttf');
}

.title {
  font-family: 'DiamondDust';
  color: brown;
}

.option {
  	cursor: hand;
}

.clickable {
	
}

#alice {
	position: absolute;
	right: 18%;
	top: 15%;
}

